# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
# Sistema
.DS_Store
.DS_Store?
._*

# CocoaPods
Pods/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/
